services:
  configurator:
    build:
      context: ./
      dockerfile: docker/Dockerfile
    labels:
      - traefik.enable=true
      - traefik.http.routers.configurator.rule=Host(`${DOMAIN:-am32.ca}`)
      - traefik.http.services.configurator.loadbalancer.server.port=3000
    pull_policy: build
    env_file: stack.env
    networks:
      - proxy
      - redis-net
  redisinsight:
    image: redis/redisinsight:latest
    volumes:
      - redisinsight:/data
    networks:
      - redis-net
  cache:
    image: redis:7
    networks:
      - redis-net
    volumes:
      - cache:/data
    ports:
      - 6379:6379
networks:
  conf:
  redis-net:
    external: true
  proxy:
    external: true
volumes:
  cache:
  redisinsight: