services:
  configurator:
    container_name: ${PREFIX:-}configurator
    build:
      context: ./
      dockerfile: docker/Dockerfile
    labels:
      - traefik.enable=true
      - traefik.http.routers.${PREFIX:-}configurator.rule=Host(`${DOMAIN:-am32.ca}`)
      - traefik.http.routers.${PREFIX:-}configurator.service=${PREFIX:-}configurator
      - traefik.http.services.${PREFIX:-}configurator.loadbalancer.server.port=3000
    pull_policy: build
    env_file: stack.env
    networks:
      - proxy
      - redis-net
      - traefik
  redisinsight:
    image: redis/redisinsight:latest
    volumes:
      - redisinsight:/data
    networks:
      - redis-net
  cache:
    image: redis:7
    networks:
      - redis-net
    volumes:
      - cache:/data
    ports:
      - 6379:6379
networks:
  conf:
  redis-net:
    external: true
  proxy:
    external: true
  traefik:
    external: true
volumes:
  cache:
  redisinsight: